.createBanner {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  padding-bottom: 20px;
}

.banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  padding-bottom: 20px;
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem;
}

.signUpLeft,
.signUpRight {
  flex: 1;
}

.signUpRight {
  display: flex;
  justify-content: center;
}

.signUpRight img {
  width: 80%;
  max-width: 420px;
  height: auto;
}
.signUpLeft {
  display: flex;
  justify-content: center;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 80%;
  max-width: 350px;
  text-align: left;
}

.signUpForm label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  color: #1e196b;
  gap: 0.3rem;
}

.signUpForm input {
  padding: 0.6rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
}

.signUpButtons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.login,
.create {
  border-radius: 50px;
  border-width: 1px;
  width: 155px;
  height: 38px;
}

.login {
  border-color: #1e196b;
}

.create {
  background: linear-gradient(
    270deg,
    rgba(49, 41, 171, 0.78) 13.92%,
    #1e196b 87.09%
  );
  color: white;
  border: none;
}

@media (max-width: 480px) {
  .bannerText {
    font-size: 1.75rem;
    left: 1rem;
    transform: translateY(-50%);
  }
}

@media (max-width: 768px) {
  .signUp {
    flex-direction: column;
    gap: 2rem;
  }

  .signUpForm {
    width: 100%;
  }
}
