.loginBanner {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  padding-bottom: 20px;
}

.banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  padding-bottom: 20px;
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.signIn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 4rem;
}

.signInLeft,
.signInRight {
  flex: 1;
}

.signInRight {
  display: flex;
  justify-content: center;
}

.signInRight img {
  width: 80%;
  max-width: 420px;
  height: auto;
}
.signInLeft {
  display: flex;
  justify-content: center;
}

.signInForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 80%;
  max-width: 350px;
  text-align: left;
}

.signInForm label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  color: #1e196b;
  gap: 0.3rem;
}

.signInForm input {
  padding: 0.6rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
}

.signInButton {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.login {
  border-radius: 50px;
  border-width: 1px;
  width: 155px;
  height: 38px;
  border-color: #1e196b;
}

@media (max-width: 768px) {
  .signIp {
    flex-direction: column;
    gap: 2rem;
  }

  .signIpForm {
    width: 100%;
  }
}
