.topSection {
  width: 100%;
  height: 100vh;
  background: #181667;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.logo {
  width: 80px;
  height: auto;
  z-index: 1;
}

.topSection::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 110%;
  height: 180px;
  background: linear-gradient(90deg, #f57a21, #ffd323);
  border-radius: 0 0 40% 60%;
  z-index: 1;
}
